.mainWrapper {
    display: flex;
    width: 100%;
    padding: 10px 0 ;
    gap:5px
}

.inputWrapper {
    width: 50%;
}

@media screen and (max-width: 750px){

    .inputWrapper {
        width: 70%;
    }
}@media screen and (max-width: 560px){

    .inputWrapper {
        width: 100%;
    }
}