.mainWrapper {
    height: 100%;
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin: 0 10px;*/
    /*margin-top: 5px;*/
    padding: 0 20px
}


.singedText {
    color: rgba(0, 0, 0, 0.21);

}


.btnWrapper {
    display: block;
}

.burgerMenuWrapper {
    display: none;
}

@media (max-width: 1024px) {
    .btnWrapper {
        display: none;
    }

    .burgerMenuWrapper {
        display: block;
    }
}