.mainWrapper {
    display: grid;
    grid-template-areas:
        "h h h"
        "n c c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    border: 2px solid green;
    grid-area: h;
}

.navBar {
    border: 2px solid darkblue;
    grid-area: n
}

.profile {
    border: 2px solid red;
    grid-area: c
}