.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
}

.commonError {
    color: red;
    font-weight: bold;
    padding: 5px;
}


.mainWrapper {
    padding: 20px;
}

.formControl {
    max-width: 400px;
}

.btn {
    padding: 10px 0;
}

.formControlInput {
    /*width: 100%;*/
}